# Clases y Objetos en Python

In [24]:
from datetime import datetime
import csv
import pandas as pd  
import numpy as np

Escriba un archivo de excel o csv con la información de cuentas bancarias que contiene la siguiente información: número de cuenta, nombre del cliente, saldo_actual, fecha última transacción. Coloque el archivo en alguna dirección url. Por ejemplo en su repositorio de Github.

In [41]:
dict_data = {'Numero_cuenta': [123876, 183564, 132098, 154237], 
            'Nombre': ['Pablo Herrera', 'Valeria Hernandez', 'Daniela Alfonso', 'Luis Parra'], 
            'Saldo_actual': [10000, 2000000, -500, 800000], 
            'Ultima_transaccion': ['2022-08-16', '2022-08-01', '2022-09-26', '2022-07-18']}
df = pd.DataFrame(dict_data)
df

   Numero_cuenta             Nombre  Saldo_actual Ultima_transaccion
0         123876      Pablo Herrera         10000         2022-08-16
1         183564  Valeria Hernandez       2000000         2022-08-01
2         132098    Daniela Alfonso          -500         2022-09-26
3         154237         Luis Parra        800000         2022-07-18

A continuación guardamos el anterior DataFrame como un archivo .csv

In [26]:
dir_pandas = 'C:/Users/dfdop/Documents/Data-Mining/{}'.format('bank.csv')
dir_pandas

'C:/Users/dfdop/Documents/Data-Mining/bank.csv'

In [27]:
df.to_csv(dir_pandas, index = False)

In [28]:
df = pd.read_csv(dir_pandas)
df.head()

   Numero_cuenta             Nombre  Saldo_actual Ultima_transaccion
0         123876      Pablo Herrera         10000         2022-08-16
1         183564  Valeria Hernandez       2000000         2022-08-01
2         132098    Daniela Alfonso          -500         2022-09-26
3         154237         Luis Parra        800000         2022-07-18

In [54]:
class CuentaBancaria:

    MIN_SALDO = -10_000
    
    def __init__(self, numero_cuenta, cliente, saldo=0):
        self.numero_cuenta = numero_cuenta
        self.cliente = cliente          
        self.transaccion = datetime.now().date()
        if saldo < self.MIN_SALDO:
            raise ValueError("¡Saldo muy pequeño!")
        else:
            self.saldo = saldo

    @classmethod
    def from_df(cls, df, number):
        if sum(number == df.index) == 0:
            print("El usuario solicitado NO existe")
        else:
            user = dict(df.iloc[number])
            numero_cuenta = user['Numero_cuenta']
            cliente = user['Nombre']
            saldo = user['Saldo_actual']
            return cls(numero_cuenta, cliente, saldo)

    @staticmethod
    def import_csv(filepath):
        df = pd.read_csv(filepath)
        return df 

    #def next_custumer(self, )
     
    def deposito(self, monto):
        self.saldo += monto
        
    def retiro(self, monto):
        self.saldo -= monto

    def __str__(self):
        return f"""
          Cuenta Bancaria:
          Propietario de la cuenta: {self.cliente}
          Número de cuenta: {self.numero_cuenta}
          Fecha de creación: {str(self.transaccion)}
          Saldo actual: {self.saldo}
          """

In [55]:
m = CuentaBancaria.import_csv(dir_pandas)
cliente = CuentaBancaria.from_df(m, 2)
print(cliente)

          Cuenta Bancaria:
          Propietario de la cuenta: Daniela Alfonso
          Número de cuenta: 132098
          Fecha de creación: 2022-10-12
          Saldo actual: -500